<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TimeChop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
				<key>dateExpires</key>
				<string>9/13/19</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyStoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TPPDF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D409907F7ED8FEC2F09E00691984D77F9782F1C</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>299U7Z664J</string>
						<key>name</key>
						<string>Buckingham Enterprises, LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>299U7Z664J.com.buckingham.time-chop</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>299U7Z664J</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>299U7Z664J.us.letshang.TimeChop</string>
					<string>299U7Z664J.us.letshang.time-chop</string>
					<string>299U7Z664J.com.buckingham.time-chop</string>
				</array>
			</dict>
			<key>name</key>
			<string>TimeChop.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4623af53-1775-42f7-9e03-ae522b68f6f3</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.buckingham.time-chop</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>299U7Z664J</string>
				<key>name</key>
				<string>Buckingham Enterprises, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
